.body-bg {
  background-image: url("/images/bg-linen-gray.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
}


.h1-text {
  margin: 0px 0px 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 80px;
}

.image-auto {
  height: auto !important;
}

.wrapper-auto {
  height: auto !important;
}

.center {
  margin: auto;
  width: 50%;
}

.sepia {
  height: 200px;
  padding: 200px 0px 200px 0px;
  background-color: rgba(0, 0, 0, 0.02) !important;
  filter: sepia(100%);
  align-content: center;
}

.text-center {
  text-align: center;
}

.text-shadow-sm {
  text-shadow: 7px 7px 5px black !important;
}

.text-shadow-md {
  text-shadow: 15px 15px 7px black !important;
}

.text-shadow-lg {
  text-shadow: 20px 15px 7px rgb(109, 107, 107) !important;
}

.text-gray {
  color: #696969;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-1.5x {
  font-size: 150%;
}

.text-1.75x {
  font-size: 75%;
}

h4 {
  font-family: "Montserrat:100", sans-serif;
}

h3 {
  font-family: "Montserrat:100", sans-serif !important;
}

.portfolio-name {
  margin: 37px 0px 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.email-header {
  margin: 37px 0px 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.gf-mont-100 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.gf-mont-300 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.image-dshadow {
  box-shadow: 7px 15px 10px #d9d9d9;
  border: 1px solid black;
}

.image-blog-tb-margins {
  margin-top: 80px;
  margin-bottom: 150px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image-page-title {
    margin-left: 70px;
}

.image-logo-footer {
  width: 200px;
  height: 200px;
  margin-left: -45px;
}
